<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.labs1904.push_notifications">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application>
        <receiver android:name=".ScheduledNotificationReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>